.custom-heading {
    width: 93%;
    left: 14px;
    margin-top: 145px;
}

.heading-car-2 {
    padding: 0px 12px;
}
.custom-img {
    margin-left: 5px;
    width: 85%;
}

.custom-prev-arrow {
    left: 0px;
}

.custom-next-arrow {
    right: 0px;
}
