<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="goSee" name="description">
    <meta content="Kashif Ali" name="author">
    <meta content="gosee" name="keywords">

    <!-- Title Page-->
    <title>Inbox</title>

    <!-- Fontfaces CSS-->
    <link href="../../../static/css/font-face.css" media="all" rel="stylesheet">
    <link href="../../../static/vendor/font-awesome-4.7/css/font-awesome.min.css" media="all" rel="stylesheet">
    <link href="../../../static/vendor/font-awesome-5/css/fontawesome-all.min.css" media="all" rel="stylesheet">
    <link href="../../../static/vendor/mdi-font/css/material-design-iconic-font.min.css" media="all" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link href="../../../static/vendor/bootstrap-4.1/bootstrap.min.css" media="all" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="../../../static/vendor/animsition/animsition.min.css" media="all" rel="stylesheet">
    <link href="../../../static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" media="all"
          rel="stylesheet">
    <link href="../../../static/vendor/wow/animate.css" media="all" rel="stylesheet">
    <link href="../../../static/vendor/css-hamburgers/hamburgers.min.css" media="all" rel="stylesheet">
    <link href="../../../static/vendor/slick/slick.css" media="all" rel="stylesheet">
    <link href="../../../static/vendor/select2/select2.min.css" media="all" rel="stylesheet">
    <link href="../../../static/vendor/perfect-scrollbar/perfect-scrollbar.css" media="all" rel="stylesheet">

    <!-- Main CSS-->
    <link href="../../../static/css/theme.css" media="all" rel="stylesheet">
</head>
