<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy Stuff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!--Include CSS and JS-->
    <div th:replace="includes-head :: includes-head"></div>
    <!--ENd of Includes-->

</head>
<body>
<div class="page_loader"></div>

<!-- Main header start -->
<div th:replace="header :: header"></div>
<!-- Main header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Buy Stuff</h1>
            <ul class="breadcrumbs">
                <li><a href="/home">Home</a></li>
                <li class="active">Buy Stuff</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Shop list start -->
<div class="shop-list content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-4">
                    <h4 class="text-center">Choose Vehicle</h4>
                </div>
            </div>
            <!--CATEGORIES START-->
            <div th:replace="categories :: categories"></div>
            <!--CATEGORIES END-->
        </div>
    </div>
</div>
<!-- Categories end -->
<!--FOOTER START-->
<div th:replace="footer :: footer"></div>
<!--FOOTER END-->

</body>
</html>
