<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- Featured car start -->
<div class="featured-car content-area-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="car-box-3">
                    <div class="car-thumbnail">
                        <a class="car-img" href="car-details.html">
                            <img alt="car" class="d-block w-100" src="img/car/car-4.jpg">
                        </a>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="#">Toyota Prius specs</a>
                        </h1>
                        <h4>Price: $9000.00</h4>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <span>(4)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

</body>
</html>
